@tailwind base;
@tailwind components;
@tailwind utilities;

.iti__selected-flag{
    width: 70px;
    display: flex;
    justify-content: space-evenly;
}

.iti__flag {
    scale: 1.6;
    border-radius: 50%;
}

#phone{
    padding-left: 86px;
}

.invoice-templates{
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 16px;
    overflow: hidden;
}

.invoice-templates th{
    font-size: 16px;
    line-height: 24px
}

.invoice-templates th,
.invoice-templates td{
    padding-left: 16px;
    padding-top: 16px;
    padding-right: 16px;
    font-weight: 400;
}

.pagination .hidden{
    justify-content: center;
}

.pagination .hidden div:first-child{
    display: none;
}

@layer utilities {
  .text-shadow-outline {
    text-shadow:
      -1px -1px 0 #E3E8EF,
       1px -1px 0 #E3E8EF,
      -1px  1px 0 #E3E8EF,
       1px  1px 0 #E3E8EF;
  }
}
