@import './components.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.iti--allow-dropdown{
    margin-top: 4px;
    width: 100%;
}

.iti__selected-flag{
    display: flex;
    justify-content: space-evenly;
}

.iti__flag {
    scale: 1.6;
    border-radius: 50%;
}

#phone{
    padding-left: 86px;
}

.invoice-templates{
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 16px;
    overflow: hidden;
}

.invoice-templates th{
    font-size: 16px;
    line-height: 24px;
}

.invoice-templates th,
.invoice-templates td{
    padding-left: 16px;
    padding-top: 16px;
    padding-right: 16px;
    font-weight: 400;
}

.pagination .hidden{
    justify-content: center;
}

.pagination .hidden div:first-child{
    display: none;
}

.simpli-track-input{
    @apply bg-editprofileinput rounded-[8px] border border-formgray
}
